html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  letter-spacing: 0.1em;
}

h2 {
  color: #024873;
}

.links {
  display: block;
  background-color: #daf0f7;
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px 20px 10px;
}

.links__item {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px 20px;
  line-height: 2;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.links__item .links__item:hover {
  background-color: #fff;
  color: #000000;
}

.links__item .links__item {
  border-bottom: 3px solid #d16446;
  box-shadow: inset 0 -4px 0 #d16446;
  border-radius: 25px;
  border: 2px solid #d16446;
  background-color: #d16446;
}

.spacer {
  display: block;
  margin: 20px;
}

.nav {
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels .channels__item {
  flex: 1;
  margin-right: 5px;
  transition: transform 0.2s;
}

.channels__item:hover {
  transform: scale(1.5);
}